.map {
  flex-grow: 1;
}

.map-controls-button {
  position: fixed;
  left: 50%;
  bottom: 0.5em;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.container {
  // height: calc(100vh - variables.$toolbar-height-desktop);
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
